# vim: syntax=i3config

# class                 border  backgr. text    indicator child_border
client.focused          #ff0883 #83ff08 #282c34 #8eff1e   #ff1e8e
client.focused_inactive #ff1e8e #1eff8e #424242 #1eff8e   #ff1e8e
client.unfocused        #c2c2c2 #282c34 #b6b6b6 #ff8e1e   #5f676a
client.urgent           #ff8308 #900000 #424242 #8e1eff   #900000
client.placeholder      #0883ff #0c0c0c #ff1e8e #1eff8e   #0c0c0c

client.background       #ffffff

