[submodule ".config/tmux-themepack"]
	path = .config/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
	branch = master
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@gitlab.com:opeshm/dotfiles-nvim-config.git
